<%= if @ready do %>
  <%= render("main.html", min_stars: @min_stars, items: @items) %>
<% else %>
  <%= render("warm_up.html", num_total: @num_total, num_processed: @num_processed, num_failed: @num_failed) %>
<% end %>